@inherits ChildComponent<AppDrawerHeader>

<div class="mdc-drawer__image-container @Class" style="@Style" @attributes="@ExtraAttributes">
    <img class="mdc-drawer__image" src="@Src" width="@ImageWidth" height="@ImageHeight" />
</div>